@import 'tailwindcss';

@theme {
  /* Brand Colors */
  --color-primary: #ffffff;
  --color-secondary: #111827;

  /* Text Colors */
  --color-text-primary: #2563eb;
  --color-text-secondary: #4b5563;

  /* background colors  */
  --color-bgprimary: #111827;
  --color-bgsecondary: #ffffff;

  /* Fonts */
  --font-playfair: 'Playfair Display', Georgia, serif;
  --font-sans: 'Source Sans Pro', system-ui, sans-serif;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply text-text-secondary bg-gray-50 font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-playfair text-primary;
  }

  .btn-primary {
    @apply bg-gradient-to-r from-blue-600 to-blue-700;
  }
}
